.c-header
  padding 8px 12px
  background $baseColor
  box-shadow 0 5px 15px rgba(0,0,0,.03)
  position relative
  overflow hidden
  .is-large &
    padding-top 13px
    padding-bottom 13px
  .nav
    display flex
    .dueDate
    .status
    .tag
      margin-right 5px