.c-header
  padding 5px
  background $baseColor
  box-shadow 0 5px 10px rgba(0,0,0,.05)
  position relative
  overflow hidden
  .nav
    display flex
    .dueDate
    .status
    .tag
      margin-right 5px