.c-taskInput
  background $baseColor
  box-shadow 0 -5px 15px rgba(0,0,0,.03)
  height 52px
  transition height .15s
  position relative
  overflow hidden
  outline none
  &.is-active
  &:focus-within
    height 84px
  form
    position absolute
    left 12px
    right 12px
    top 8px
    height 74px
  .title
    padding 8px 40px 8px 15px
    border-radius 12px
    //width calc(100% - 70px)
    height 36px
    //background $baseColor
    //box-shadow 1px 1px 2px rgba(0,0,0,0.15) inset, 1px 1px 2px rgba(255,255,255,1)
    background $inputBgColor
    .titleInner
      width 100%
      height 20px
    input[type="text"]
      padding 0
      display block
      transform scale(14/16)
      transform-origin left top
      width (16/14*100)%
      height (16/14*100)%
      outline 0
      border 0
      //color $linkColor
      //background $baseColor
      background $inputBgColor
      .is-large &
        transform scale(1)
        width 100%
        height 100%
      &:focus
        //background $baseColor
        background $inputBgColor
      &::placeholder
        //color rgba(102, 119, 136, .4)
        color rgba(0, 0, 0, .2)
  .submit
    position absolute
    right 3px
    top 3px
    button.add
      width 30px
      height 30px
      overflow hidden
      text-indent -999px
      font-size 12px
      font-weight bold
      border 0
      border-radius 15px
      color $linkColor
      background url('../img/add.svg') no-repeat 50% 50% $baseColor
      //background url('../img/add.svg') no-repeat 50% 50% $inputBgColor
      //box-shadow 1px 1px 2px rgba(0,0,0,0.15), 1px 1px 2px rgba(255,255,255,1) inset
      outline none
  .property
    padding 8px 0
    width 100%
    height 40px
    display flex
    justify-content flex-end
    overflow hidden
  .date
    margin-left 5px
  .priority
    margin-left 5px
  .tag
    margin-left 5px