body
  color rgba(0,0,0,.6)
  background $baseColor
  font-family system-ui, "Hiragino Sans", "YuGothic", "Arial", sans-serif
  font-size 14px
  line-height 1
  height 100vh
  overflow hidden
input
select
  color inherit
  font-size 16px
button
label
  cursor pointer