.l-page
  position fixed
  left 0
  right 0
  top 0
  bottom 0
  display flex
  flex-direction column
  overflow hidden
.l-topBar
  z-index 1
  position relative
.l-content
  flex 1
  overflow-x hidden
  overflow-y auto
.l-bottomBar
  z-index 1
  position relative
