//$linkColor = #667899
//$baseColor = #e7eaef
//$inputBgColor = rgba(102,119,136,0.1)
$linkColor = #808080
$baseColor = #fafafa
$inputBgColor = #efefef
$btnBorderColor = #ccc

$red =     #F44336
$yellow =  #FF9800
$green =   #4CAF50
$blue =    #03A9F4